 <div id="booking-deets" class="w3-modal w3-animate-opacity" style="display: block">
    <div class="w3-modal-content w3-card-4 " style="width: 540px; padding-bottom: 60px" >
      <div class="d-flex justify-content-end" style="margin: 20px;">
        <span onclick="document.getElementById('booking-deets').style.display='none'"
            class="btn btn-lg btn-dark">&times;</span>
      </div>
      <br>
      <div class="w3-container">
       This is where booking details go
      </div>
    </div>
</div>