<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active overlay">
            <img src="<%= asset_pack_path 'media/images/image4.jpg' %>" width="100%" height="780px" alt="HBCU Africa">
            <div class="carousel-caption d-none d-md-block">
                <p class="carousel-bold-text">
                    HBCU Homecoming 2022: 100,000 Strong Africa Conference
                </p>
                <p class="carousel-mini-text">
                   24 MAY, 2022 - 30 MAY, 2022
                </p>
                <br>
            </div>
        </div>
        <div class="carousel-item overlay">
            <img src="<%= asset_pack_path 'media/images/5.jpg' %>" width="100%" height="780px" alt="Tz beach">
            <div class="carousel-caption d-none d-md-block">
                <p class="carousel-bold-text">
                    Sanbrafie Tanzania Summer, 2023
                </p>
                <p class="carousel-mini-text">
                    22 JUN, 2023 - 29 JUN, 2023
                </p>
                <br>
            </div>
        </div>
        <div class="carousel-item overlay">
            <img src="<%= asset_pack_path 'media/images/ghdec.png' %>" width="100%" height="780px" alt="December in Ghana">
            <div class="carousel-caption d-none d-md-block">
                <p class="carousel-bold-text">
                   Ghana December, 2022
                </p>
                <p class="carousel-mini-text">
                    23 DEC, 2022 - 01 JAN, 2023
                </p>
                <br>
            </div>
        </div>
        <div class="carousel-item">
            <img src="<%= asset_pack_path 'media/images/logotext.png' %>" width="100%" height="780px" alt=" demo instructions">
            <div class="carousel-caption d-none d-md-block">
                
            </div>
        </div>
    </div>
</div>


<style>

.carousel-bold-text{
  color: #fafafa ;
  font-size:36px !important;
  line-height: 105% !important;
}
</style>

