 <div class="row">
    <div class="col">
        <div class="big-text d-block mx-auto" >
            <p class="bold-text">
                Embracing our
                Cultures, <br>Preserving 
                our Heritage.
            </p>
            <p class="carousel-mini-text">
                Boutique tours to the heart of 
                the motherland. <br> Connecting
                through service learning.
            </p>
            <br>
        </div>
    </div>
    <div class="col">
        <%# ===================================================== %>
          <div class="col-10 booking-form">
            <form>
                <div class="mb-3 row">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label">First name</label>
                    <input class="form-control" type="text" aria-label="default input example">
                  </div>
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label">Last name</label>
                    <input class="form-control" type="text" aria-label="default input example">
                  </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Featured tours</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected> </option>
                        <option value="1">Ghana-December, 2021</option>
                        <option value="2">Ghana-Spring, 2022</option>
                        <option value="3">Tanzania-Spring, 2022</option>
                        <option value="4">Ghana-Fall, 2022</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Phone number</label>
                    <input class="form-control" type="text" aria-label="default input example">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Tour coordination</label> <br>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Air and Ground Coordination
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Ground Coordination Only
                    </label>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Hotel type</label> <br>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">3 Star</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">4 Star</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio2">5 Star</label>
                  </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Please share yourZ</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                
                
            </form>
          </div>
        <%# ============================================================================ %>
    </div>
</div>
<div class="row"> 
    <div class="destinations-section my-container">
     
    </div>
    </div>
    <div class="testimonials-section my-container">
     
    </div>
</div>
<style>
    .booking-form{
        background-color: #F8F8F8 ;
        padding: 30px;
        /* border: 1px black solid; */
        border-radius: 0px;
    }
</style>