 <div class="row">
          <div class="col">
            <div class="big-text d-block mx-auto" >
                <p class="bold-text">
                    Embracing our
                    Cultures, <br>Preserving 
                    our Heritage.
                </p>
                <p class="carousel-mini-text">
                    Boutique tours to the heart of 
                    the motherland. <br> Connecting
                    through service learning.
                </p>
                <br>
            </div>
          </div>
          <div class="col">
            <%# ===================================================== %>
            <div class="col-8 booking-form">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Featured tours</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected> </option>
                        <option value="1">Ghana-December, 2021</option>
                        <option value="2">Ghana-Spring, 2022</option>
                        <option value="3">Tanzania-Spring, 2022</option>
                        <option value="4">Ghana-Fall, 2022</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Phone number</label>
                    <input class="form-control" type="text" aria-label="default input example">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <!--<div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>-->
                <button type="submit" class="btn btn-dark btn-lg">Submit</button>
            </form>
            </div>
              <%# ============================================================================ %>
          </div>
        </div>


<style>
    .booking-form{
        background-color: #F8F8F8 ;
        padding: 30px;
        /* border: 1px black solid; */
        border-radius: 0px;
    }
</style>