<div class="landing-page-content">
  <% if user_signed_in? %>
    <%= render 'dash'%>
  <% else %>
    <%= render 'landing_page'%>
  <% end %>
</div>








<style>

.big-text{
  padding: 80px;
  top: 50%;
}

.modal{
  border-radius: 0px !important;
}
.modal-dialog{
  border-radius: 0px !important;
}

.l-section-one{
  padding: 40px;
  text-align: left !important;
}

.l-section-two{
  padding: 40px;
  /* margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

.log-in-form{
  padding: 30px;
  background: white;
  width: 60%;
  margin: 0 auto;
}
header{
  height: 700px;
  background-image: url('../images/image2.jpg');
}

.carousel-section img {
    object-fit: cover;
    opacity: 1.9;
  }
  .my-container{
     margin: 0 auto;
     width: 90%;
  }
  .card{
    margin: 6px !important;
    width: 17rem;
  }
  .p-card{
    margin-bottom: 40px !important;
    width: 20rem !important;
    height: 22rem !important;
  }
  .testimonial-text{
    text-align: left !important;
    font-size:20px;
    font-weight: 400;
    line-height: 110%;
  }
  .destinations-section{
    padding: 100px 0 100px 0;
  }
  .section-headings{
    text-align: left !important;
    font: Poppins;
    font-size:42px;
    font-weight: 500;
    line-height: 96%;
  }
  .btn-outline-orange{
    border:2px solid orange;
    width: 60px;
  }
  .carousel{
    z-index: 2 !important;
  }
  .carousel-section{
    height:700px;
    background:#090909 !important;
    margin:-12px;
    /* opacity:0.6; */
  }
  .carousel-caption{
    text-align: left !important;
    margin: 0;
    position: absolute;
    top: 70% !important;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
   .carousel-mini-text{
     color: #fafafa !important;
     font-size:20px;
     font-weight: 200;
   }
    .carousel-bold-text{
     color: #fafafa !important;
     font-size:48px;
     font-weight: 700;
     line-height: 96%;
   }
    .bold-text{
      font-family: Poppins-600 ;
     color: #fafafa !important;
     font-size:58px;
     font-weight: 700;
     line-height: 120%;
   }
   .cta-btn{
     color: white;
     background: black;
     font-weight: 400;
     font-size: 24px;
     width:300px;
   }
   .cta-btn:hover{
      color: black;
      background-color: white;
      border: 2px black solid;
   }
   .about-section{
     padding: 100px 0 100px 0;
   }
</style>