<div class="row" style="margin-top: 100px;">
    <div class="col-sm-6 text-center" style="width:80%; margin:0 auto;">
         <i class="fas fa-check-circle fa-7x text-success"></i> 
         <br><br>
         <p style="font-family: 'Tangerine'; font-size: 92px; font-weight:bold;">Thank you!</p>
         <h5>You have successfully completed your payment.</h5>
         <br><br>
         <a href="/" class="btn btn-dark btn-lg">Dashboard</a>
    </div>
</div>