<div class="my-container">
    <br><br>
    <div>
        <h3> Payment Information, Late and Cancellation Policy:</h3>
        <p> 
            

            <b><span class="text-danger"> * All payments are non-refundable.</span></b>

            <br>
            <hr>

            - Trip cancellations in writing more than 120 days before departure date can be refunded minus deposit and airline deposit fees <br>

            - Trip cancellations in writing at least 120 days before departure date can be credited towards another journey within 9-12 months minus a fee equal to 25% of total trip cost.<br>

            - Trip cancellations in writing within 90 days before departure date can be credited towards another journey within 9-12 months minus a fee equal to 50% of total trip cost.<br>

            - Trip cancellations in writing within 60 days are 100% non refundable.<br>

            - We suggest purchasing trip insurance.<br>

            <%# <span style="color: red;">PRICING IS BASED ON GROUP OF 12 PERSONS</span><br> %>
        </p>
    </div>
</div>