<div class="page-topic text-center">
    <h4>Payment Form</h4>
</div>
<div class="my-content">
    <br>
    <div class="shadow-box-no-border">
        <div class="text-center">
            <h3>Thanks for booking <%= params[:tour_name] %> with us!</h3>
            <h5>We look forward lorem ipsum dolor </h5>
        </div>
    </div>
</div>