<div class="row">
  <div class="col-sm-4 d-flex justify-content-center" >
    <div class="text-center err">
      <h1 style="font-weight: 800;">Oops!</h1> <br>
      <p style="font-size: 16px; font-weight: 400;">Looks like something went wrong, please contact your admin. </p>
      <p class="error-page-text">Error 500</p>
      <br>
      <div>
        <%= link_to 'Go back home', root_path, class:"btn btn-lg btn-outline-dark" %>
      </div>
    </div>
  </div>
  <div class="col-sm-8 error-500">
  </div>
</div>


