<div class="row">
  <div class="col-sm-4 d-flex justify-content-center" >
    <div class="text-center err">
      <h1 style="font-weight: 800;">Error 404</h1> <br>
      <p style="font-size: 16px; font-weight: 400;">We can't seem to find the page you're looking for. Please check your URL and try again.</p>
      <br>
      <div>
        <%= link_to 'Go back home', root_path, class:"btn btn-lg btn-outline-dark" %>
      </div>
    </div>
  </div>
  <div class="col-sm-8 error-404" style="background-color: #f6f8f9;">
  </div>
</div>

