<div class="row">
  <div class="col-4 d-flex justify-content-center" >
    <div class="text-center err">
      <h1 style="font-weight: 800;">Error 504</h1> <br>
      <p style="font-size: 16px; font-weight: 400;">Your request timed out, this could be a network issue. Please try again</p>
      <br>
      <div>
        <%= link_to 'Go back home', root_path, class:"btn btn-lg btn-outline-dark" %>
      </div>
    </div>
  </div>
  <div class="col-8 error-504" style="background-color: #f6f8f9;">
  </div>
</div>


