<% if user_signed_in? %>
    <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
        <div id="sys-msg" class="w3-modal w3-animate-opacity" style="display: block">
            <div class="w3-modal-content w3-card-4 " style="width: 540px; padding-bottom: 60px" >
                <div class="d-flex justify-content-end" style="padding: 10px;">
                    <span onclick="document.getElementById('sys-msg').style.display='none'"
                        class="btn btn-lg btn-dark">&times;</span>
                </div>
                <br>
                <div class="w3-container" style="padding:25px;">
                    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>" role="alert" id="flash">
                    <%# <button type="button" class=" btn-close" data-dismiss="alert" aria-hidden="true"></button> %>
                    <%= content_tag :div, msg, :id => "flash_#{name}" %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>
<%# &times; %>

<style>
    .flash{
        background-color: #fff !important;
       
    }
    .alert{
        background-color: #fff !important;
    }
    .alert-success{
        background-color: #fff !important;
        border-color: #fff !important;
        color: #4bb543 !important;
         font-size: 24px !important;
        font-weight: 600 !important;
    }
    .alert-danger{
        background-color: #fff !important;
        border-color: #fff !important;
        color: #ff8080 !important;
    }
</style>



<style>
  .alert{
      z-index: 100;
  }
</style>
<script type="text/javascript">
    // $(document).ready(function(){
    //     setTimeout(function(){
    //         $('#flash').remove();
    //     }, 2000);
    // })
</script>
<% end %>